/*@font-face {
	font-family: PT Sans Narrow;
	src : 	url(../fonts/ptsansnarrow.woff2) format(woff2),
			url(../fonts/ptsansnarrow.woff) format(woff);
	font-weight: normal;
	font-style: normal;		
}

@font-face {
	font-family: PT Sans Narrow;
	src : 	url(../fonts/ptsansnarrowbold.woff2) format(woff2),
			url(../fonts/ptsansnarrowbold.woff) format(woff);
	font-weight: bold;
	font-style: normal;		
}/**/



body {
	/* Позиционирование */
	/* Блочная модель */
	min-width: 960px;
	margin: 0;
	padding: 0;
	/* Типографика */
	color: #ffffff;
	font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	/* Оформление */
	background-color: #000000;
	background-image: url("../img/bg_page.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	/* Анимация */
	/* Разное */
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}/**/

.inner-page {
	/* Позиционирование */
	/* Блочная модель */
	/* Типографика */
	color: #000000;
	/* Оформление */
	background-color: #f9f6f3;
	background-image: url("../img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	/* Анимация */
	/* Разное */
}

.container {
	/* Позиционирование */
	/* Блочная модель */
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.main-header {
	/* Позиционирование */
	/* Блочная модель */
	margin-bottom: 75px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.inner-page .main-header {
	margin-bottom: 50px;

	background-color: #000000;
}

.button {
	display: inline-block;
	margin-right: 16px;
	padding: 10px 30px;

	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

button.disabled,
button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #000000;
}

.main-navigation {
	/* Позиционирование */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Блочная модель */
	/* Типографика */
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	/* Оформление */
	background-color: transparent; /*Временно для сетки */
	/*background-color: #000000;/**/ /*Временно для сетки */
	/* Анимация */
	/* Разное */
}

.inner-page .main-navigation {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}

.main-header-logo {
	/* Позиционирование */
	order: 2;
	/*display: block; /**/ /*Временно для сеток */
	/* Блочная модель */
	width: 368px; 
	height: 153px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.inner-page .main-header-logo {
	order: 0;

	width: 111px;
	height: 24px;
	padding: 23px 20px;
}

.main-navigation-wrapper {
	/* Позиционирование */
	/* Блочная модель */
	width: 100%;
	margin-bottom: 60px;
	/* Типографика */
	/* Оформление */
	background-color: #000000;/**/
	/* Анимация */
	/* Разное */
}

.main-navigation-wrapper .container {
	/* Позиционирование */
	display: flex;
	justify-content: space-between;
	/* Блочная модель */
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.site-navigation,
.user-navigation {
	/* Позиционирование */
	display: flex;
	/* Блочная модель */
	margin: 0;
	padding: 0;
	/* Типографика */
	/* Оформление */
	list-style: none;
	/* Анимация */
	/* Разное */
}

.site-navigation {
	/* Позиционирование */
	flex-wrap: wrap;
	/* Блочная модель */
	width: 620px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
	
}

.user-navigation {
	/* Позиционирование */
	/* Блочная модель */
	width: 140px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.inner-page .user-navigation {
	margin-left: auto;
}

.site-navigation a,
.user-navigation a {
	/* Позиционирование */
	display: block;
	padding: 25px 20px;
	/* Блочная модель */
	/* Типографика */
	vertical-align: middle;
	color: #ffffff;
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.user-navigation .login-link {
	/* Позиционирование */
	position: relative;
	/* Блочная модель */
	padding-left: 50px;
	/* Типографика */
	/* Оформление */

	/* Анимация */
	/* Разное */
}

.login-link::before {
	/* Позиционирование */
	position: absolute;
	top: 27px;
	left: 24px;
	/* Блочная модель */
	width: 16px;
	height: 18px;
	/* Типографика */
	/* Оформление */
	background-image: url("../img/login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	/* Анимация */
	/* Разное */
	content: "";
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 1;
}

.features {
	/* Позиционирование */
	/* Блочная модель */
	margin-bottom: 80px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.features-list {
	/* Позиционирование */
	display: flex;
	justify-content: space-between;
	/* Блочная модель */
	margin: 0;
	padding: 0;
	/* Типографика */
	/* Оформление */
	list-style: none;
	/* Анимация */
	/* Разное */
}

.feature-item {
	/* Позиционирование */
	/* Блочная модель */
	width: 300px;
	/* Типографика */
	text-align: center;
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.feature-item h3 {
	position: relative;

	margin: 0;
	margin-bottom: 60px;

	font-size: 30px;
	line-height: 42px;
}

.feature-item h3::after { 
	content: "";

	position: absolute;
	bottom: -30px;
	left: 50%;

	width: 20px;
	height: 20px;
	margin-left: -10px;

	background-color: #ffffff;

	transform: rotate(45deg);
}

.index-columns {
	/* Позиционирование */
	display: flex;
	justify-content: space-between;
	/* Блочная модель */
	padding: 50px 80px;
	margin-bottom: 35px;
	/* Типографика */
	color: #000000;
	/* Оформление */
	background-color: #fbf8f5; 
	background-image: 	url("../img/line.png"),
						url("../img/pattern-light.jpg");
	background-position: center, 0 0;
	background-repeat: no-repeat, repeat;/**/
	/* Анимация */
	/* Разное */
}

.index-columns h2{
	margin: 0;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 42px;
}

.news {
	/* Позиционирование */
	/* Блочная модель */
	width: 380px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.news-list {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	list-style: none;
}

.news-item {
	margin-bottom: 25px;
}

.news-item p {
	margin: 0;
}

.news-list time {
	text-transform: none;
}

.gallery {
	/* Позиционирование */
	/* Блочная модель */
	width: 300px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.gallery-container {
	position: relative;

	height: 260px;
}

.gallery-content {
	height: 164px;
	margin: 0;

	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery-button {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;

	width: 140px;
	margin: 0;
}

.gallery-button-back {
	left: 0;
}

.gallery-button-next {
	right: 0;
}

.contacts {
	/* Позиционирование */
	/* Блочная модель */
	width: 380px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.contacts p {
	margin: 0;
	margin-bottom: 25px;
}

.appointment {
	/* Позиционирование */
	/* Блочная модель */
	width: 300px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.appointment-info {
	margin: 0;
	margin-bottom: 15px;
}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment-item {
	width: 140px;
	margin: 0;
	margin-bottom: 10px;

}

.appointment-item label {
	display: block;
	margin-bottom: 9px;
	margin-left: 15px;
}

.appointment-item input {
	box-sizing: border-box;
	width: 140px;
	padding-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;

	font: inherit;

	background-color: transparent;
	border: 2px solid #000000;
}

.appointment-item input:focus {
	border-color: #663d15;
}

.appointment .button {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-right: 0;
}

.page-title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;

	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;
	margin-bottom: 50px;

	list-style: none;
}

.breadcrumbs li {
	position: relative;

	margin-right: 42px;
}

.breadcrumbs li::after {
	content: "";

	position: absolute;
	top: 7px;
	right: -25px;

	width: 8px;
	height: 8px;

	background-color: #000000;

	transform: rotate(45deg);
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-current{
	color: #aba9a7;
}

.breadcrumbs-current::after {
	display: none;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 180px;
}

.filter fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 30px;

	border: none;
}

.filter fieldset:first-child {
	margin-bottom: 35px;	
}

.filter legend {
	margin-bottom: 26px;

	font-size: 24px;
	line-height: 30px;
}

.filter ul {
	padding: 0;
	margin: 0;

	list-style: none;
	line-height: 18px;
}

.filter-option {
	margin-bottom: 19px;
	padding-left: 45px;
}

.filter-option label {
	position: relative;

	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;

	width: 16px;
	height: 16px;

	border: 2px solid #000000;
}

.filter-input-checkbox:checked + label::after {
	content: "";

	position: absolute;
	top: 4px;
	left: -38px;

	width: 12px;
	height: 12px;

	background-image: url("../img/cross.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio + label::before {
	content: "";

	position: absolute;
	left: -42px;
	top: -1px;

	width: 16px;
	height: 16px;

	border: 2px solid #000000;
	border-radius: 50%;

}

.filter-input-radio:checked + label::after {
	content: "";

	position: absolute;
	top: 5px;
	left: -36px;

	width: 8px;
	height: 8px;

	background-color: #000000;
	border-radius: 50%;
}

.filter-input:disabled + label {
	color: #000000;

	opacity: 0.5;
}

.catalog {
	width: 700px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 0;
	margin: 0;
	margin-bottom: 25px;

	list-style: none;
}

.catalog-item {
	width: 220px;
	margin-bottom: 20px;
	margin-right: 20px;

	background-color: #f8f8f8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
	/* Позиционирование */
	/* Блочная модель */
	margin-right: 0;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.catalog-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
	display: flex;
	flex-direction: column;

	color: #000000;
}

.catalog-item h3 {
	order: 1;

	margin-top: 17px;
	margin-right: 15px;
	margin-bottom: 12px;
	margin-left: 16px;

	font-size: 14px;
	line-height: 18px;
}

.catalog-category {
	display:  block;

	text-transform: none;
}

.catalog-item-image {
	width: 220px;
	height: 165px;
	margin: 0;

}

.catalog-item-price {
	display: flex;
	margin: 15px;
	margin-top: 0;
}

.catalog-item-price b {
	width: 112px;
	padding: 13px 25px 11px;

	font-size: 14px;
	line-height: 20px;
	text-align: center;

	background-color: #e5e5e5;
}

.catalog-item-price .button {
	width: 50px;
	padding: 13px 18px 11px;
	margin-right: 0;

	line-height: 20px;
	color: #ffffff;
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	list-style: none;
}

.pagination-item {
	margin-right: 5px;
}

.pagination-item:last-child {
	margin-right: 0;
}

.pagination-list a {
	display: block;
	padding: 10px 19px;

	color: #ffffff;

	background-color: #000000;
}

.pagination-list a:hover,
.pagination-list a:focus,
.pagination-list a:active {
	baclground-color: #663d15;
}

.pagination-item-current a {
	color: #000000;

	background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000000;

	background-color: #ffffff;
}

.product-photo-preview {
	display: flex;
	padding: 0;
	margin: 0;

	list-style: none;
}

.product-photo-preview li {
	width: 140px;
	height: 149px;
	margin-right: 20px;

	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-preview li:nth-child(3n) {
	margin-right: 0;
}

.product-photo-full {
	width: 460px;
	height: 498px;
	margin: 0;
	margin-bottom: 20px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-description {
	padding-right: 10px;
	margin-bottom: 29px;

	display: flex;
	justify-content: space-between;
}

.product-info {
	width: 390px;
	padding-top: 23px;
}

.product-info .product-price {
	display: flex;
	margin-bottom: 63px;
}

.product-article {
	text-align: right;
	color: #aeaeae;
}

.product-price b {
	width: 112px;
	padding-top: 13px;
	padding-right: 36px;
	padding-bottom: 11px;
	padding-left: 36px;
	box-sizing: border-box;

	line-height: 20px;
	text-align: center;
	color: #000000;

	background-color: #e5e5e5;
}

.product-price .button {
	padding-left: 17px;
	padding-right: 17px;
}

.product-info h3 {
	margin: 0;
	margin-bottom: 27px;

	font-size: 24px;
	line-height: 30px;
}

.product-price .product-text {
	margin-bottom: 35px;
}

.product-info ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.product-info li {
	position: relative;

	padding-left: 23px;
}

.product-info li::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 2px;

	width: 8px;
	height: 8px;

	background-color: #000000;

	transform: rotate(45deg);
}

.slogan {
	font-size: 48px;
	line-height: 48px;
	text-align: center;
}

.service-info h2 {
	font-size: 24px;
	line-height: 30px;
}

.special-care ul {
	list-style: none;
}

.special-care li {
	font-size: 14px;
	line-height: 24px;
}

.about_us h2 {
	font-size: 24px;
	line-height: 30px;
}

.about_us p {
	display: inline-block;

	width: 385px;

	font-size: 14px;
	line-height: 24px;

}

.main-footer {
	/* Позиционирование */
	/* Блочная модель */
	margin-top: 65px;
	padding: 60px 0;
	/* Типографика */
	color: #ffffff;
	/* Оформление */
	background: none;
	background-color: #212121;
	background-image: url("../img/pattern-dark.gpg");
	background-position: 0 0;
	background-repeat: repeat;/**/
	/* Анимация */
	/* Разное */
}

.inner-page .main-footer {
	margin-top: 45px;
}

.main-footer .container {
	/* Позиционирование */
	display: flex;
	/* Блочная модель */
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.footer-contacts {
	/* Позиционирование */
	/* Блочная модель */
	width: 320px;
	margin: 0;
	margin-right: 70px;
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	/* Позиционирование */
	/* Блочная модель */
	widows: 145px;
	/* Типографика */
	text-align: center;
	/* Оформление */
	/* Анимация */
	/* Разное */

	/*Временно для сеток */
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 141px;
	margin: 0 auto;
	padding: 0;

	list-style: none;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 43px;
	height: 43px;

	color: #ffffff;
}

.social-button:hover,
.social-button:focus {
	background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
	fill: #000000;
}

.footer-social b {
	display: block;
	margin-bottom: 15px;
}

.footer-copyright {
	/* Позиционирование */
	/* Блочная модель */
	width: 150px;
	margin: 0;
	margin-left: auto;
	/* Типографика */
	text-align: center;
	/* Оформление */
	/* Анимация */
	/* Разное */
}

.footer-copyright b {
	display: block;
	margin-bottom: 15px;
}

.footer-copyright .button {
	display: block;
	margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;

	background-color: #ffffff;
}

.modal {
	color: #000000;

	background-color: #f8f3f0;
	background-image: url("../img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.modal h2 {
	font-size: 30px;
	line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"]{
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: ##f9f6f3;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

empty_selector {
	/* Позиционирование */
	/* Блочная модель */
	/* Типографика */
	/* Оформление */
	/* Анимация */
	/* Разное */
}